.landingPageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.landingSection{
    display: flex;
    flex-direction: column;
}

.landingTitle{
    text-align: center;
    width: 80%;
}

.landingImageWrapper{
    max-width: 100%;
}

.landingImageWrapper>img{
    box-sizing: border-box;
    width: 100%;

}

.quote{
    color: var(--clr-text-primary);
    padding-top: 1rem;
}

@media only screen and (min-width: 450px){
    .landingSection{
        flex-direction: row;
    }
}