.App {
  min-width: fit-content;
  min-height: 100vh;
  height: 100%;
  text-align: center;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

.particles{
  opacity: 55%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: fit-content;
}

