.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px blue inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.faceRecognition-wrapper {
    position: absolute;
    margin-top: 2em;
    box-shadow: 2px 2px 1px 2px rgb(70, 69, 69);
}

.imageWrapper{
    margin-top: 2rem;
}